<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/styles_compiled.css">
	<meta name ="description" content="JKINTEGRAL - Instalaciones electricas en departamentos, viviendas o comercios.
                    Cámaras IP, redes, montaje y automatizacion. Reparaciones / remodelaciones, mantenimiento preventivo o proyectos a estrenar y lectura de planos electricos.">
    <meta name=”keywords” content="instalaciones electricas, casa, hogar, electricista, departamento, luz, ambiente, iluminacion, energia, automatizaciones, seguridad, camaras, planos electricos, instalaciones generales">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>JKINTEGRAL - contacto</title>
</head>
<body>

	<header class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper container">
                <a href="../index.html" class="brand-logo logo">JK<span class="logo-color-text">INTEGRAL</span></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="upper"><a href="../index.html">Inicio</a></li>
                    <li class="upper"><a href="servicios.html">Servicios</a></li>
                    <li class="upper"><a href="obras.html">Obras</a></li>
                    <li class="upper"><a href="nosotros.html">Nosotros</a></li>
                </ul>
            </div>
        </nav>
    </header>
	
	<ul id="mobile-demo" class="sidenav grey darken-4">
        <li>
            <div class="user-view">
                <div class="background">
                    <img class="responsive-img" src="../assets/img/luces.jpg" alt="instalaciones electricas, casa, hogar, electricista, departamento, luz, ambiente, iluminacion, energia, automatizaciones, seguridad, camaras, planos electricos, instalaciones generales">
                </div>
                <a href="#"><img class="circle responsive-img" src="../assets/img/icon.png" alt="instalaciones electricas, casa, hogar, electricista, departamento, luz, ambiente, iluminacion, energia, automatizaciones, seguridad, camaras, planos electricos, instalaciones generales"></a>
                <a href="#"><span class="white-text name">JKINTEGRAL</span></a>
                <a href="#"><span class="white-text email">info@jkintegral.com</span></a>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class="upper"><a class="waves-effect white-text" href="../index.html">Inicio</a></li>
        <li class="upper"><a class="waves-effect white-text" href="servicios.html">Servicios</a></li>
        <li class="upper"><a class="waves-effect white-text" href="obras.html">Obras</a></li>
        <li class="upper"><a class="waves-effect white-text" href="nosotros.html">Nosotros</a></li>
    </ul>

    <div class="section inicio white darken-4 back-text">
        <div class="container">
            <div class="row center">
                <h1 class="upper italic">¡Solicita tu presupuesto <span class="bold">sin cargo</span>!</h1>
                <h6>Completá este formulario para que podamos contactarte</h6>
            </div>
            <form method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        <input id="nomyape" name="nomyape" type="text" class="validate" value="" required="">
                        <label for="nomyape" class=""> Nombre y apellido * </label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">accessibility</i>
                        <input id="dni" name="dni" type="number" class="validate" value="" required="">
                        <label for="dni" class=""> DNI * </label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="mail" name="mail" type="text" class="validate" value="" required="">
                        <label for="mail" class=""> Email * </label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">smartphone</i>
                        <input id="celular" name="celular" type="number" class="validate" value="" required="">
                        <label for="celular" class=""> Celular * </label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">place</i>
                        <input id="zona" name="zona" type="text" class="validate" value="" required="">
                        <label for="zona" class=""> Zona de residencia * </label>
                    </div>
                    <div class="input-field col s12">
                        <p>
                            <span class="black-text"> *Campos obligatorios </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-large waves-effect waves-light black-text yellow" type="submit">
                        <span>ENVIAR</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

	<footer class="page-footer grey darken-4 white-text">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contáctenos</h5>
                    <p class="grey-text text-lighten-4">JKINTEGRAL <br><a href="" class="white-text">Tel: +54 911 584752</a>
                        <br><a href="" class="white-text">info@jkintegral.com</a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Redes</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <small>© 2022 JKINTEGRAL - Alejandro dev - Todos los derechos reservados</small>
            </div>
        </div>
    </footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			var elems_nav = document.querySelectorAll('.sidenav');
			var instances_nav = M.Sidenav.init(elems_nav);

			var elems_slider = document.querySelectorAll('.slider');
    		var instances_slider = M.Slider.init(elems_slider);
		});
	</script>
</body>
</html>