<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/styles_compiled.css">
	<meta name ="description" content="JKINTEGRAL - Instalaciones electricas en departamentos, viviendas o comercios.
                    Cámaras IP, redes, montaje y automatizacion. Reparaciones / remodelaciones, mantenimiento preventivo o proyectos a estrenar y lectura de planos electricos.">
    <meta name=”keywords” content="instalaciones electricas, casa, hogar, electricista, departamento, luz, ambiente, iluminacion, energia, automatizaciones, seguridad, camaras, planos electricos, instalaciones generales">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>JKINTEGRAL - nosotros</title>
</head>
<body>

	<header class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper container">
                <a href="../index.html" class="brand-logo logo">JK<span class="logo-color-text">INTEGRAL</span></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="upper"><a href="../index.html">Inicio</a></li>
                    <li class="upper"><a href="servicios.html">Servicios</a></li>
                    <li class="upper"><a href="obras.html">Obras</a></li>
                    <li class="upper"><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>
	
	<ul id="mobile-demo" class="sidenav grey darken-4">
        <li>
            <div class="user-view">
                <div class="background">
                    <img class="responsive-img" src="../assets/img/test.jpg" alt="instalaciones electricas, casa, hogar, electricista, departamento, luz, ambiente, iluminacion, energia, automatizaciones, seguridad, camaras, planos electricos, instalaciones generales">
                </div>
                <a href="#"><img class="circle responsive-img" src="../assets/img/icon.png" alt="instalaciones electricas, casa, hogar, electricista, departamento, luz, ambiente, iluminacion, energia, automatizaciones, seguridad, camaras, planos electricos, instalaciones generales"></a>
                <a href="#"><span class="white-text name">JKINTEGRAL</span></a>
                <a href="#"><span class="white-text email">info@jkintegral.com</span></a>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class="upper"><a class="waves-effect white-text" href="../index.html">Inicio</a></li>
        <li class="upper"><a class="waves-effect white-text" href="servicios.html">Servicios</a></li>
        <li class="upper"><a class="waves-effect white-text" href="obras.html">Obras</a></li>
        <li><div class="divider"></div></li>
        <li class="upper"><a class="waves-effect white-text" href="contacto.html">Contacto</a></li>
    </ul>

    <div class="section white black-text">
        <div class="container">
            <div class="row">
                <div class="row">
                    <h4 class="upper italic center">¿POR QUÉ <span class="bold">JKINTEGRAL</span>?</h4>
                </div>
                <div class="row">
                    <h6>Somos una empresa dedicada a brindar soluciones electricas integrales para departamentos, viviendas y comercios. </h6>
                </div>
                <div class="row">
                    <h6>Conformamos un equipo de técnicos y profesionales. Nuestros pricipales pilares son la seguridad, iluminacion, automatizaciones y redes inalambricas. Asesoramos a nuestros clientes en los productos que solucionen sus problematicas. </h6>
                </div>
                <div class="row">
                    <h6>Brindamos una respuesta especializada para cada necesidad.</h6>
                </div>
                <div class="row">
                    <h6>Acompañamos los proyectos desde su inicio. Ofrecemos un seguimiento detallado y cuidado que asegure los mejores resultados. Leemos e interpretamos planos electricos para una mejor instalacion electrica.</h6>
                </div>
                <div class="row">
                    <h6>Damos presupuesto a distancia o agendamos una visita en el lugar a trabajar</h6>
                </div>
            </div>
            <div class="row">
                <p class="bold"><i class="material-icons yellow-text">grade</i>     instalaciones domiciliarias</p>
                <p class="bold"><i class="material-icons yellow-text">grade</i>     instalaciones industriales</p>
                <p class="bold"><i class="material-icons yellow-text">grade</i>     seguimos las normas electricas en el cableado estructurado</p>
                <p class="bold"><i class="material-icons yellow-text">grade</i>     instalaciones generales</p>
            </div>
        </div>
    </div>

	<footer class="page-footer grey darken-4 white-text">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contáctenos</h5>
                    <p class="grey-text text-lighten-4">JKINTEGRAL <br><a href="" class="white-text">Tel: +54 911 584752</a>
                        <br><a href="" class="white-text">info@jkintegral.com</a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Redes</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <small>© 2022 JKINTEGRAL - Alejandro dev - Todos los derechos reservados</small>
            </div>
        </div>
    </footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			var elems_nav = document.querySelectorAll('.sidenav');
			var instances_nav = M.Sidenav.init(elems_nav);

			var elems_slider = document.querySelectorAll('.slider');
    		var instances_slider = M.Slider.init(elems_slider);
		});
	</script>
</body>
</html>